/* Styling! Varsågod att ändra om du vill. */

body {
  background: navy;
  font-family: 'Strait', sans-serif;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  letter-spacing: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  width: 100px;
  height: 40px;
  margin: 0 10px;
  background-color: #FC3B1A;
  color: white;
  font-weight: 600;
  border-radius: 6px;
}

.all-launches {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.launch {
  text-align: center;
  background-color: #FCF0EE;
  padding: 20px;
  margin: 20px;
  color: navy;
  border: 10px solid #FC3B1A;
}

.launch .details {
  width: 300px;
  text-align: left;
}

img {
  max-width: 300px;
}